<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../static/css/piza.css">
<link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
<div th:fragment="frag_header">
	<nav class="navbar navbar-default" style="background-color: #ffb31a;">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header" style="background-color: #ffb31a;">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/showItemList}"> <!-- 企業ロゴ -->
						<img alt="main log" th:src="@{/img_curry/header_logo.png}" height="35">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<p class="navbar-text navbar-right">
						<a th:href="@{/cartList}" class="navbar-link">ショッピングカート</a>&nbsp;&nbsp;
						<span th:if="${session.user}">
						<a href="order_history.html" th:href="@{/showOrderHistory}" class="navbar-link" >注文履歴</a>&nbsp;&nbsp;
						<a href="order_history.html" th:href="@{/myPage}" class="navbar-link" >ユーザー情報</a>&nbsp;&nbsp;
						<a href="item_list_pizza.html" th:href="@{/logout}" class="navbar-link">ログアウト</a>&nbsp;&nbsp;
						<span th:if="${session.user.id==0}">
						<a href="order_history.html" th:href="@{/administer}" class="navbar-link" >管理者機能</a>&nbsp;&nbsp;
						</span>
						</span>
						<span th:unless="${session.user}">
						<a href="login.html" th:href="@{/toLogin}" class="navbar-link">ログイン</a>&nbsp;&nbsp;
						</span>
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
</div>

<div th:fragment="frag_header_register">
		<nav class="navbar navbar-default" style="background-color: #ffb31a;">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/showItemList}"> <!-- 企業ロゴ -->
						<img alt="main log" th:src="@{/img_curry/header_logo.png}" height="35">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<p class="navbar-text navbar-right">
						<a th:href="@{/cartList}" class="navbar-link">ショッピングカート</a>&nbsp;&nbsp;
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>