<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文履歴</title>
<link rel="stylesheet" th:href="@{/css/piza.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<div th:include="fragment_header::frag_header">
		</div>
				<div class="row">
			<div
				class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
				<h3 class="text-center">注文履歴詳細</h3>
				<h4 class="text-center" style="font-weight: bold;">
					現在の状態:<span class="text-center" th:if="${order.status==1}" th:text="未入金"></span>
								<span class="text-center" th:if="${order.status==2}" th:text="入金済"></span>
								<span class="text-center" th:if="${order.status==3}" th:text="発送済"></span>
								<span class="text-center" th:if="${order.status==4}" th:text="発送完了"></span>
				</h4>
				<table class="table table-striped item-list-table">
					<tbody>
						<tr>
							<th>
								<div class="text-center">
									商品名
								</div>
							</th>
							<th>
								<div class="text-center">
									サイズ、価格(税抜)、数量
								</div>
							</th>
							<th>
								<div class="text-center">
									トッピング、価格(税抜)
								</div>
							</th>
							<th>
								<div class="text-center">
									小計
								</div>
							</th>
						</tr>
						<tr th:each="orderItem:${order.orderItemList}">
							<td>
								<div class="center">
									<a th:href="@{/showItemDetail(itemId=${orderItem.item.id})}">
									<img th:src="@{'/img_curry/' + ${orderItem.item.imagePath}}"
										class="img-responsive img-rounded item-img-center" width="200" height="600">
									</a><br>
								</div>
								<div class="text-center">
									<a th:href="@{/showItemDetail(itemId=${orderItem.item.id})}" th:text="${orderItem.item.name}"></a>
								</div>
							</td>
							<td><div class="text-center">
								<span class="price" th:text="'&nbsp;'+${orderItem.size}"></span>&nbsp;&nbsp;
								<span th:text="${#numbers.formatInteger(orderItem.size=='M'?orderItem.item.priceM:orderItem.item.priceL,0,'COMMA')}"></span>円&nbsp;&nbsp;
								<span th:text="${orderItem.quantity}"></span>個
							</div></td>
							<td>
								<ul>
									<li th:each="orderTopping:${orderItem.orderToppingList}" th:text="${orderTopping.topping.name}+${orderItem.size=='M'?orderTopping.topping.priceM:orderTopping.topping.priceL}+'円'">ピーマン300円</li>
								</ul>
							</td>
							<td>
								<div class="text-center">
									<span th:text="${#numbers.formatInteger(orderItem.subTotal,0,'COMMA')}"></span>円
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
			<div class="col-xs-offset-2 col-xs-8">
				<div class="form-group text-center">
					<span id="total-price" th:text="'消費税：'+${#numbers.formatInteger(order.tax,0,'COMMA')}+'円'">消費税：8,000円</span><br>
					<span id="total-price" th:text="'ご注文金額合計：'+${#numbers.formatInteger(order.calcTotalPrice,0,'COMMA')}+'円'">ご注文金額合計：38,000円 (税込)</span>
				</div>
			</div>
		</div>
	<!-- end container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
