<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/piza.css}" rel="stylesheet">
</head>
<body>
<div class="container">
		<div th:include="fragment_header::frag_header"></div>
		<!-- table -->
		<div class="row">
			<div
				class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
				<h3 class="text-center">注文内容確認</h3>
				<h4 class="text-center" style="color: red;" th:text="${alert}"></h4>
				<h4 class="text-center" style="color: red;" th:text="${alert2}"></h4>
				<h4 class="text-center" th:text="${nullorder}"></h4>
				<div th:unless="${nullorder}">
				<table class="table table-striped item-list-table">
					<tbody>
						<tr>
							<th>
								<div class="text-center">
									商品名
								</div>
							</th>
							<th>
								<div class="text-center">
									サイズ、価格(税抜)、数量
								</div>
							</th>
							<th>
								<div class="text-center">
									トッピング、価格(税抜)
								</div>
							</th>
							<th>
								<div class="text-center">
									小計
								</div>
							</th>
						</tr>
						<tr th:each="orderItem:${order.orderItemList}">
							<td>
								<div class="center">
									<img th:src="${#strings.endsWith(orderItem.item.imagePath,'.jpg')}?@{'/img_curry/'+${orderItem.item.imagePath}}:@{${orderItem.item.imagePath}}"
										class="img-responsive img-rounded item-img-center" width="100" height="300"><br>
									<span th:text="${orderItem.item.name}"></span>
								</div>
							</td>
							<td>
								<span class="price" th:text="'&nbsp;'+${orderItem.size}"></span>&nbsp;&nbsp;
								<span th:if="${orderItem.size} == 'M'" th:text="${#numbers.formatInteger(orderItem.item.priceM,0,'COMMA')}"></span>
								<span th:if="${orderItem.size} == 'L'" th:text="${#numbers.formatInteger(orderItem.item.priceL,0,'COMMA')}"></span>円&nbsp;&nbsp;
								<span th:text="${orderItem.quantity}"></span>個
							</td>
							<td>
								<ul>
									<li th:each="orderTopping:${orderItem.orderToppingList}" th:text="${orderTopping.topping.name}+${orderItem.size=='M'?orderTopping.topping.priceM:orderTopping.topping.priceL}">ピーマン300円</li>
								</ul>
							</td>
							<td>
								<div class="text-center">
									<span th:text="${#numbers.formatInteger(orderItem.subTotal,0,'COMMA')}"></span>円
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
		<div th:unless="${nullorder}">
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8">
				<div class="form-group text-center">
					<span id="total-price" th:text="'消費税：'+${#numbers.formatInteger(order.tax,0,'COMMA')}+'円'">消費税：8,000円</span><br>
					<span id="total-price" th:text="'ご注文金額合計：'+${#numbers.formatInteger(order.calcTotalPrice,0,'COMMA')}+'円'">ご注文金額合計：38,000円 (税込)</span>
				</div>
			</div>
		</div>
		<form th:action="@{order}" th:object="${orderForm}">
			<div class="row">
				<div
					class="table-responsive col-lg-offset-3 col-lg-6 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
					<h3 class="text-center">お届け先情報</h3>
					<table class="table table-striped item-list-table">
						<tbody>
							<tr>
								<td>
									<div class="text-center">
										お名前(必須)
									</div>
								</td>
								<td>
								<div th:errors="*{destinationName}" style="color:red"></div>
									<input type="text" name="destinationName"th:field="*{destinationName}">
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										メールアドレス(必須)
									</div>
								</td>
								<td>
								<div th:errors="*{destinationEmail}" style="color:red"></div>
									<input type="text" name="destinationEmail"th:field="*{destinationEmail}">
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										郵便番号(必須, -あり)
									</div>
								</td>
								<td>
								<div th:errors="*{destinationZipcode}" style="color:red"></div>
									<input id="inputZipcode" type="text" name="destinationZipcode"th:field="*{destinationZipcode}">&nbsp;&nbsp;<input type="button" id="buttonZipcode" value="住所検索">
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										住所(必須)
									</div>
								</td>
								<td>
								<div th:errors="*{destinationAddress}" style="color:red"></div>
									<input id="inputAddress" type="text" name="destinationAddress"th:field="*{destinationAddress}">
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										電話番号(必須, - あり)
									</div>
								</td>
								<td>
								<div th:errors="*{destinationTel}" style="color:red"></div>
									<input type="text" name="destinationTel"th:field="*{destinationTel}">
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										配達日時(必須)
									</div>
								</td>
								<td>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<div th:errors="*{deliveryTime}" style="color:red"></div>
											</div>
											<div class="col-sm-5">
												<input type="date" name="deliveryDate" id="date-form"
													class="form-control input-sm" th:field="*{deliveryDate}">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<label class="radio-inline">
													<input type="radio"
														name="deliveryTime" th:checked="${orderForm.deliveryTime==null||orderForm.deliveryTime==10}" th:value=10>
													10時
												</label>
												<label class="radio-inline">
													<input type="radio" th:field="*{deliveryTime}"
														name="deliveryTime" th:value=11>
													11時
												</label>
												<label class="radio-inline">
													<input type="radio" th:field="*{deliveryTime}"
														name="deliveryTime" th:value=12>
													12時
												</label><br>
												<label class="radio-inline">
													<input type="radio" th:field="*{deliveryTime}"
														name="deliveryTime" th:value=13>
													13時
												</label>
												<label class="radio-inline">
													<input type="radio" th:field="*{deliveryTime}"
														name="deliveryTime" th:value=14>
													14時
												</label>
												<label class="radio-inline">
													<input type="radio" th:field="*{deliveryTime}"
														name="deliveryTime" th:value=15>
													15時
												</label><br>
												<label class="radio-inline">
													<input type="radio" th:field="*{deliveryTime}"
														name="deliveryTime" th:value=16>
													16時
												</label>
												<label class="radio-inline">
													<input type="radio" th:field="*{deliveryTime}"
														name="deliveryTime" th:value=17>
													17時
												</label>
												<label class="radio-inline">
													<input type="radio" th:field="*{deliveryTime}"
														name="deliveryTime" th:value=18>
													18時
												</label><br>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- table -->
			<div class="row">
				<div
					class="table-responsive col-lg-offset-3 col-lg-6 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
					<h3 class="text-center">お支払い方法</h3>
					<table class="table table-striped item-list-table">
						<tbody>
							<tr>
								<td>
									<div class="text-center">
										代金引換
									</div>
								</td>
								<td>
									<div class="row">
										<div class="col-sm-12">
											<label class="radio-inline">
												<input type="radio"
													name="paymentMethod" th:checked="${orderForm.paymentMethod==null||orderForm.paymentMethod==1}" th:value=1>
												代金引換
											</label>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										クレジットカード決済
									</div>
								</td>
								<td >
									<div class="row">
										<div class="col-sm-12">
											<label class="radio-inline">
												<input type="radio" th:field="*{paymentMethod}"
													name="paymentMethod"  th:value=2>
												クレジットカード
											</label><br><br>
										</div>
									</div>
								</td>
							</tr>
							<tr><td colspan="2">
								<div style="font-weight: bold;" class="text-center">
									カード情報
									<span style="color: red" th:errors="*{card_cvv}"></span>
								</div>
							</td></tr>
							<tr>
								<td>
									<div class="text-center">
										カード番号(-なし)
									</div>
								</td>
								<td>
								<div th:errors="*{card_number}" style="color:red"></div>
									<input id="inputCardNumber" type="text" name="card_number" th:field="*{card_number}">
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										カードの有効期限
									</div>
								</td>
								<td>
									<input style="width: 4em" id="inputCardExpYear" type="text" name="card_exp_year" th:field="*{card_exp_year}">年
									<input style="width: 2em" id="inputCardExpMonth" type="text" name="card_exp_month" th:field="*{card_exp_month}">月
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										カード名義人
									</div>
								</td>
								<td>
									<input id="inputCardName" type="text" name="card_name"th:field="*{card_name}">
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										セキュリティコード
									</div>
								</td>
								<td>
									<input style="width: 3em" id="inputCardCvv" type="text" name="card_cvv"th:field="*{card_cvv}">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-4 col-xs-4">
					<div class="form-group">
						<input class="form-control btn btn-warning btn-block" type="submit" value="この内容で注文する">
					</div>
				</div>
			</div>
		</form>
		</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/zipcode.js}"></script>
</body>
</html>