<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">
<title>Insert title here</title>
</head>
<body>
<p>
	<a href="#" data-toggle="tooltip" title="ツールチップ（デフォルト）">サンプル・リンク</a>
	｜
	<span data-toggle="tooltip" title="ツールチップ（デフォルト）">サンプル・テキスト</span>
	｜
	<button type="button" class="btn btn-default" data-toggle="tooltip" title="ツールチップ（デフォルト）">サンプル・ボタン</button>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>

</body>
</html>